@import "tailwindcss";

:root{
    --bg :  radial-gradient(circle at 20% 20%, #0b0f27 0%, #02030a 100%);
}
body{
    background: var(--bg);
}
.stars, .twinkling {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: transparent url('/public/img/stardust.png') repeat;
  animation: moveStars 200s linear infinite;
  z-index: 0;
}

.twinkling {
  background: transparent url('/public/img/dark-mosaic.png') repeat;
  animation: twinkle 6s ease-in-out infinite alternate;
  z-index: 1;
}

@keyframes moveStars {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

@keyframes twinkle {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}
