---
import Layout from "../layout/Layout.astro"

---

<Layout>

    <section class="grid grid-cols-1  items-center gap-10 mt-5 md:grid-cols-2">
        <article >
            <h1 class="text-3xl mb-1 font-bold">Daniel Hernández</h1>
            <p class="py-5 w-auto h-auto">Frontend Developer junior Daniel destaca como frontend developer con una marcada inclinación por el diseño responsivo, la creación de interfaces modernas y la integración de tecnologías emergentes.</p>
            <a href="" download="" class="btn pb-3">DESCARGAR CV</a>    
        </article>
        <div class="photo">
            <div class="halo"></div>
            <img src="/img/Daniel.jpeg" alt="">
        </div>

    </section>











</Layout>
