---
import Layout from "../layout/Layout.astro"

---

<Layout>

    <section class="grid grid-cols-1  items-center gap-10 mt-5 md:grid-cols-2">
        <article >
            <h1 class="text-3xl mb-1 font-bold text-white">Daniel Hernández</h1>
            <p class="pt-10 px-2.5 w-auto h-auto text-pretty text-justify lg:text-left lg:px-0 ">Frontend Developer junior Daniel destaca como frontend developer con una marcada inclinación por el diseño responsivo, la creación de interfaces modernas y la integración de tecnologías emergentes.</p>
            <a href="/curriculum-daniel-hernandez.pdf" download="" class="btn ">DESCARGAR CV</a>    
        </article>
        <div class="photo">
            <div class="halo"></div>
            <img src="/img/Daniel.jpeg" alt="">
        </div>

    </section>











</Layout>
