---
import Navbar from './Navbar.astro';
---

<header class="flex justify-between items-center m-2">
    <div><img src="/img/dandev_logo.ico" alt="" class="w-[130px] h-auto grid items-center "></div>
    <Navbar/> 
</header>