---

---

<nav class="flex flex-row ">
    <a href="/" target="_self" class=" text-slate-400 flex justify-end hover:text-[#0e76a8] font-bold" >INICIO</a>
    <a href="/contacto" target="_self" class=" text-slate-400 flex justify-end ml-5  hover:text-[#0e76a8] font-bold" >CONTACTO</a>
</nav>