---

---

<nav class="flex flex-row">
    <a href="/" target="_self" class="flex justify-end  text-[#979797] hover:text-[#0e76a8] font-semibold" >INICIO</a>
    <a href="/contacto" target="_self" class="flex justify-end ml-5 text-[#979797] hover:text-[#0e76a8]" >CONTACTO</a>
</nav>