---

---

<nav>
    <a href="https://github.com/Daniel-A-Hernandez" target="_blank" class="text-[#979797] hover:text-[#2b3137]" >Github</a>
    <a href="https://www.linkedin.com/in/daniel-hern%C3%A1ndez-6a1220378/" target="_blank" class="ml-4 text-[#979797] hover:text-[#0e76a8]" >Linkedin</a>
</nav>