---
import { jsx } from "astro/jsx-runtime";
import Badges from "./Badges.astro";
interface Props {
  title: string;
  descripcion: string;
  link: string;
  html?: boolean;
  css?: boolean;
  js?: boolean;
  typescript?: boolean;
  astro?: boolean;
  tailwind?: boolean;
}    
    const {
      title,
      descripcion,
      link,
      html = false, 
      css = false,
      js = false,
      typescript = false, 
      astro = false, 
      tailwind = false
    } = Astro.props;

---

<!-- From Uiverse.io by pharmacist-sabot --> 
<div class="nhost-card">
  <div class="card-glow"></div>
  <div class="card-grid"></div>

  <div class="card-header">
    <!--TITLE CARD -->
    <div class="title-wrapper">
      <h4 class="title-card text-pretty">{title}</h4>
    </div>
    <!--LINKS TO WEB & REPOS -->
    <div class="action-buttons">
      <button class="btn-icon" aria-label="Star this repo">
        <a href={link} target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="lucide lucide-globe-icon lucide-globe" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10"/><path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20M2 12h20"/></svg>
        </a>
      </button>
    </div>
  </div>
  <!--BODY CARD CONTENT-->
  <div class="card-body">
    <p class="card-description text-slate-400 lg:text-left ">{descripcion}</p>

      <!--TECHNOLOGIES BADGES-->
    <div class="tag-wrapper">

    {(html &&   <span class="badge-html badge">HTML</span>)}

    {(css &&    <span class="badge-css badge">CSS</span>)}

    {(js &&     <span class="badge-js badge">JS</span>)}

    {(astro &&   <span class="badge-astro badge">ASTRO</span>)}
    
    {(tailwind &&   <span class="badge-tailwind badge">TAILWIND</span>)}
    
    {(typescript && <span class="badge-ts badge">TYPESCRIPT</span>)}
    
  </div>   
        
    
  </div>
</div>



