---
//IMPORT FONTS
import "@fontsource/manrope/400.css"
import "@fontsource/manrope/600.css"
import "@fontsource/manrope/700.css"

import '../styles/global.css'
import Header from '../components/structure/Header.astro';
const {title = "Daniel Hernández | Portfolio"} = Astro.props ;
---

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio de Daniel Hernández, desarrollador web y programador. Proyectos, habilidades y contacto.">
        <link rel="shortcut icon" href="img/daniel_avatar.ico" type="image/icon">
        <title>{title}</title>
    </head>

    <body>
        <!--Estrellas y mosaico bg -->
        <div class="stars z-0"></div><div class="twinkling z-0"></div>

        <!--wrap -->
        <div class="relative z-10 p-2 max-w-[1100px] m-auto text-center lg:text-left flex flex-col gap-6">
            <Header class="flex justify-between items-center mb-20  "/>
                  
            
        <main>
            <slot />
        </main>
            
            
        
        <footer class="flex justify-center">
            <p class="mx-auto">@Daniel Hernandez {new Date().getFullYear()} </p>
        </footer>
    </div>
    
    </body>
</html>