---
//IMPORT FONTS
import "@fontsource/manrope/400.css"
import "@fontsource/manrope/600.css"
import "@fontsource/manrope/700.css"

import '../styles/global.css'
import Header from '../components/structure/Header.astro';
const {title = "Daniel Hernández | Portfolio"} = Astro.props ;
---

<html lang="es">
    <head>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Daniel Hernández",
          "url": "https://daniel-hernandez.dev",
          "sameAs": [
            "https://github.com/Daniel-A-Hernandez",
            "www.linkedin.com/in/daniel-hernández-6a1220378",
            "https://www.instagram.com/danny_hdezzzz?igsh=d3BueDl3eTJzYmFz"
          ],
          "jobTitle": "Desarrollador Web",
          "knowsAbout": ["JavaScript", "Astro", "TypeScript", "Frontend"]
        }
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico"> 
        <meta name="description" content="Portfolio de Daniel Hernández, desarrollador web y programador. Proyectos, habilidades y contacto.">
        <meta name="author" content="Daniel Hernández">
        <meta name="theme-color" content="#1a1a2e">
        <meta name="keywords" content="Daniel Hernández, portfolio, desarrollador web, programador, proyectos, habilidades, contacto, js, html, css, react, node.js, astro, tailwindcss, frontend, github">
        <title>{title}</title>
    </head>

    <body>
        <!--Estrellas y mosaico bg -->
        <div class="stars z-0"></div><div class="twinkling z-0"></div>

        <!--wrap -->
        <div class="relative z-10 p-2 max-w-[1100px] m-auto text-center lg:text-left flex flex-col gap-6">
            <Header class="flex justify-between items-center mb-20  "/>
                  
            
        <main>
            <slot />
        </main>
            
            
        
        <footer class="flex justify-center">
            <p class="mx-auto">@Daniel Hernandez {new Date().getFullYear()} </p>
        </footer>
    </div>
    
    </body>
</html>